@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}
main {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  width: 30%;
}

.shirt_box {
  padding: 0;
  border: 1px solid black;
  box-sizing: border-box;
  width: 15em;
}

ul {
  box-sizing: border-box;
  list-style-type: none;
  clear: both;
  margin: 0;
  padding: 0;
  color: rgb(111,222,222);
  width: 15em;
}

img {
  border: 1px solid black;
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 15em;
}

a {
  box-sizing: border-box;
  color: rgb(111,222,222);
  text-decoration: none;
  padding: 1em;
}

.shirt_info {
  position: relative;
}
.price {
  font-weight: bold;
  float: right;
  text-align: right;
  width: 50%;
  color: rgb(111,222,222);
  padding: 1em;

}

.styleName {
  width: 50%;
  text-align: left;
  color: rgb(111,222,222);
  padding: 1em;
}

li {
  box-sizing: border-box;
  float: left;
  border: 1px solid black;
  width: 3em;
  height: 3em;
  text-align: center;
  margin: 0;
  font-size: 1em;
}


.fa-exchange:hover {
  background-color: rgb(111,222,222);
  color: white;
}

.fa-heart-o:hover {
  background-color: rgb(111,222,222);
  color: white;
}

.fa-shopping-cart:hover {
  background-color: rgb(111,222,222);
  color: white;
}
.fa-repeat {
  padding: 0.25em;
  float: right;
  font-size: 1em;
  position: absolute;
}
.size_text {
  padding: 1em;
}

.size_menu {
  position: absolute;
  margin: 0;
  width: 3em;
  top: -193px;
  left: 96px;
}

.color_menu {
  width: 6em;
}
.shirt_front {
  padding: 1em;

}
.shirt_back {
  padding: 1em;

}
 .shirt_front:hover {
   height: 0;
   width: 0;

 }
 /*.shirt_back:hover {
 }*/
.shirt_box {
}
