@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}
main {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  width: auto;
}

.shirt_box {
  padding: 0;
  border: 1px solid black;
  box-sizing: border-box;
  width: 15em;
}

/*ul {
  box-sizing: border-box;
  list-style-type: none;
  clear: both;
  margin: 0;
  padding: 0;
  color: rgb(111,222,222);
  width: 15em;
}*/

img {
  border: 1px solid black;
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 15em;
}

a {
  box-sizing: border-box;
  color: rgb(111,222,222);
  text-decoration: none;
  padding: 1em;
  border: 1px solid black;
  margin: 0;
  float: left;
  width: 3em;
  height: 3em;
  background-color: rgb(255,255,255)
}

.shirt_info::after {
  content: '';
  display: block;
  clear: both;
}

.shirt_info {
  position: relative;
  border: 1px solid black;
  float: left;
  display: block;
  width: 15em;
}

.style_price {
  border: 1px solid black;
  box-sizing: border-box;
  display: block;
  width: 15em;
  margin: 0;
  padding: 0em;
  clear: both;
}
.price {
  font-weight: bold;
  float: right;
  text-align: right;
  color: rgb(111,222,222);
  padding: 1em;
  margin: 0;

}

.styleName {
  float: left;
  margin: 0;
  text-align: left;
  color: rgb(111,222,222);
  padding: 1em;
  clear: both;
}

.size_menu:nth-child(2) {
  opacity: 0;
  width: 3em;
  position: absolute;
  top: -194px;
  left: 96px;
  transition: opacity 0.5s linear;
/* FIXME:  */
}

.color_menu:nth-child(2)  {
  opacity: 0;
  width: 6em;
  position: absolute;
  top: -100px;
  left: 145px;
  transition: opacity 0.5s linear;

  /* FIXME:  */
}
.size_hover:hover > .size_menu {
  opacity: 1;
}
.color_hover:hover > .color_menu{
  opacity: 1;
}

/*li {
  box-sizing: border-box;
  float: left;
  border: 1px solid black;
  width: 3em;
  height: 3em;
  text-align: center;
  margin: 0;
  font-size: 1em;
}
*/
a:hover {
  background-color: rgb(111,222,222);
  color: white;
}

/*.fa-user-circle:hover {
  background-color: rgb(111,222,222);
  color: white;
}

.fa-exchange:hover {
  background-color: rgb(111,222,222);
  color: white;
}

.fa-heart-o:hover {
  background-color: rgb(111,222,222);
  color: white;
}

.fa-shopping-cart:hover {
  background-color: rgb(111,222,222);
  color: white;
}
}*/


.fa-repeat {
  padding: 0.25em;
  font-size: 1em;
  left: 216px;
  position: absolute;
  text-align: right;
  width: 1.5em;
  height: 1.5em;
}

/*.size_hover:hover~.size_menu {
  display: block;
}
*/
/*.size_menu {
  display: none;
  position: absolute;
  margin: 0;
  width: 3em;
  top: -193px;
  left: 96px;
  background-color: rgb(222,222,111);
}

.color_menu {
  display: none;
  position: absolute;
  left: 144px;
  top: -97px;
  width: 6em;
  background-color: rgb(222,222,111);
}*/
.shirt_front {
  padding: 1em;

}
.shirt_back {
  padding: 1em;

}
