@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

main {
  border: 1px solid black;
  width: 40%;
}

ul {
  border: 1px solid black;
  list-style-type: none;
  clear: both;
}

img {
  border: 1px solid black;
  display: block;
}

a {
  color: green;
  text-decoration: none;
}

.price {
  font-weight: bold;
  float: right;
  text-align: right;
}

li {
  box-sizing: border-box;
  float: left;
  border-right: 1px solid black;
  margin: 0;
  padding: 1em;
}
